.top-mv{
    width: 100%;
}
.head-top-intro{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ED1A3D;
    height: 80px;
    width: 1000px;
    margin: 41px auto 0px;
}
.head-top-intro::before{
    position: absolute;
    content: "";
}
.prog-1{
    width: 127px;
    border-radius: 101px;
}
.head-top-title{
    font-size: 39px;
    font-weight: bolder;
    color: #ED1A3D;
}
.head-title-box{
    background-color: white;
    border-radius: 64px;
    width: 521px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head-anime{
    margin-left: 315px;
    transition: margin-left 2s
}
.head-anime.active{
    margin-left: 31px;
}
.aaa{
    background-color: aqua;
    height: 5000px;
    width: 300px;
}